<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<mat-toolbar class="mat-elevation-z8" id="top-navbar">
    Gündüzler ocakbaşı
  </mat-toolbar>
<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Ödeme başarılı!</h1>
                <p>Siparişiniz verdiğiniz için teşekkür ederiz.</p>
                <a routerLink="/clientside/{{tableIdFromStorage}}">Menüye dön</a>
             </div>
             
          </div>
       </div>
    </div>
 </div>