<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button  (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    {{user.restaurantName}}
</mat-toolbar>

<mat-sidenav-container style="background-color: #DDDDDD">
    <mat-sidenav #sidenav="matSidenav"  class="mat-elevation-z8" style="width: 300px;">

        <img class="avatar mat-elevation-z8" [src]="getUserImagePath(user.userImagePath)" />

        <h4 class="name">{{user.firstName}} {{user.lastName}}</h4>
        <p class="designation">{{user.title}}</p>

        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/mainpage/orders" (click)="closeSidenavAfterClick()">
            <mat-icon class="menu-icon">assignment</mat-icon>
            <span>Siparişler</span>
        </button>
        <button mat-button class="menu-button" routerLink="/mainpage/products" (click)="closeSidenavAfterClick()">
            <mat-icon class="menu-icon" >shopping_cart</mat-icon>
            <span>Ürünler</span>
        </button>
        <button mat-button class="menu-button" routerLink="/mainpage/users" (click)="closeSidenavAfterClick()" >
            <mat-icon class="menu-icon">people</mat-icon>
            <span>Çalışanlarım</span>
        </button>
        <button mat-button class="menu-button" routerLink="/mainpage/qrcodes" (click)="closeSidenavAfterClick()" >
            <mat-icon class="menu-icon">qr_code</mat-icon>
            <span>QrCode</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/mainpage/profile" (click)="closeSidenavAfterClick()">
            <mat-icon class="menu-icon">manage_accounts</mat-icon>
            <span>Profilim</span>
        </button>
        <button mat-button class="menu-button" (click)="closeSidenavAfterClick()">
            <mat-icon class="menu-icon">help</mat-icon>
            <span>Yardım</span>
        </button>
        <button mat-button class="menu-button" (click)="logout()" (click)="closeSidenavAfterClick()">
            <mat-icon class="menu-icon">logout</mat-icon>
            <span>Çıkış yap</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content id="matSidenavContent" style="overflow-x: hidden;">
        <router-outlet (scrolled)="scrollUp()"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
