.container{
    margin-top:2%;
}
body{
    background:#f5f5f5;
    margin-top:20px;
}
.card {
    border: none;

    -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
    box-shadow: 1px 0 20px rgba(96,93,175,.05);
    margin-bottom: 30px;
}