<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let table of tables">
            <div class="card service-wrapper rounded border-0 shadow p-4">
                <div class="col-md-3">
                    <div class="icon text-center text-custom h1 shadow rounded bg-white">
                        <span class="uim-svg" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em"><rect width="20" height="15" x="2" y="3" class="uim-tertiary" rx="3"></rect><path class="uim-primary" d="M16,21H8a.99992.99992,0,0,1-.832-1.55469l4-6a1.03785,1.03785,0,0,1,1.66406,0l4,6A.99992.99992,0,0,1,16,21Z"></path></svg></span>
                    </div>
                </div>
                <div class="col-md-3" *ngFor="let qrCode of qrCodesByRestaurant">
                    <img [src]="getQrCodeImagePath(qrCode)" *ngIf="table.id==qrCode.tableId" width="50" heigth="50">
                </div>
                
                
                <div class="content mt-4">
                    <h5 class="title">Masa: {{table.tableNo}}</h5>
                    <p class="text-muted mt-3 mb-0"></p>
                    <div class="mt-3">
                        <a type="button" class="text-custom"><i class="mdi mdi-chevron-right"></i></a>
                    </div>
                </div>
                <div class="big-icon h1 text-custom">
                    <span class="uim-svg" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="1em"><rect width="20" height="15" x="2" y="3" class="uim-tertiary" rx="3"></rect><path class="uim-primary" d="M16,21H8a.99992.99992,0,0,1-.832-1.55469l4-6a1.03785,1.03785,0,0,1,1.66406,0l4,6A.99992.99992,0,0,1,16,21Z"></path></svg></span>
                </div>
            </div>
        </div><!--end col-->

        
    </div><!--end row-->
</div>
