<mat-toolbar class="mat-elevation-z8" id="top-navbar">
  Gündüzler ocakbaşı
</mat-toolbar>
<div class="container" style="overflow-x:hidden;">
  <div class="menu" style="margin-top: 50px">
    <div class="row" *ngFor="let category of categories">
    
      <h2 class="menu-group-heading">
        {{ category.categoryName }}
      </h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let product of products | categoryProduct: category.id">
            <div class="row">
                <div
                class="menu-group"
                >
                <div class="menu-item" [attr.id]="'product' + product.id">
                  <img
                    *ngIf="product.productImagePath != null"
                    class="menu-item-image"
                    [src]="getProductImagePath(product.productImagePath)"
                  />
                  <img
                    *ngIf="product.productImagePath == null"
                    class="menu-item-image"
                    src="/assets/images/defaultproductimage.png"
                  />
                  <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                      <span class="menu-item-name"
                        ><b>{{ product.productName }}</b></span
                      >
                      <span class="menu-item-price">{{ product.unitPrice }}₺</span>
                    </h3>
                    <p class="menu-item-description">
                      {{ product.productDescription }}
                    </p>
                  </div>
                </div>
                
              </div>
            </div>

          <div class="row">
            <div class="food-card_order-count">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button mat-icon-button color="warn" (click)="removeFromCart(product)" (click)="calculateCartTotal()" ><mat-icon>remove</mat-icon></button>
                    </div>
                    <input type="number" readonly class="form-control input-manulator"  [attr.id]="product.id+'quantity'" value="0" >
                    <div class="input-group-append">
                        <button mat-icon-button color="success" (click)="addToCart(product)" (click)="calculateCartTotal()">
                            <mat-icon>add</mat-icon>
                          </button>
                    </div>
                </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
  <hr>
</div>
<mat-toolbar
  class="mat-elevation-z8"
  id="bottom-navbar"
  style="align-items: center"
>
  <div class="button-group" >
    <button mat-stroked-button color="warn">
      <mat-icon>
        restaurant
      </mat-icon>
    </button> 
    <button mat-stroked-button color="success" (click)="openShoppingCartDialog(cartItems)"><mat-icon
      *ngIf="cartItems.length > 0"
      [matBadge]="cartItems.length"
      matBadgePosition="before"
      matBadgeColor="warn"
      
      >shopping_cart</mat-icon
    >
    <mat-icon *ngIf="cartItems.length == 0">shopping_cart</mat-icon></button>
  </div>
</mat-toolbar>
