<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="header-title pb-3 mt-0" style="text-align: center;"><b>SİPARİŞLER</b></h2>                    
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Masa numarası</th>
                                    <th>Sipariş Saati</th>
                                    <th>Sipariş Tutarı</th>
                                    <th>Sipariş Durumu</th>
                                    <th>Detay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let order of orders">
                                    <td><strong>Masa {{order.tableNo}}</strong></td>
                                    <td>{{order.orderDate |  date:'hh.mm'}}</td>
                                    <td>{{order.orderAmount}}₺</td>
                                    <td>
                                        <span class="badge badge-boxed badge-soft-warning" *ngIf="order.orderStatus == 0">Bekliyor</span>
                                        <span class="badge badge-boxed badge-soft-primary" *ngIf="order.orderStatus == 1">Hazırlanıyor</span>
                                    </td>
                                    <td>
                                        <button mat-icon-button color="primary" matTooltip="Sipariş detayı" 
                                        style="border:1.8px solid blue!important" (click)="openOrderDetailsDialog(order)">
                                            <mat-icon style="vertical-align: middle;">arrow_forward</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                </div>
            </div>
        </div>
    </div>
</div>