<h2 mat-dialog-title>Ürün Ekle</h2>
<mat-dialog-content minHeight=200 minWidth=200 >
    <form [formGroup]="productAddForm">
  <div class="form-row">
    <div class="form-group col-md-4"  *ngIf="productImagePath">
      <img class="avatar"  [src]="productImagePath" onclick="document.getElementById('fileToUpload').click()" style="cursor: pointer;"/>
    </div>
    <div class="form-group col-md-4" *ngIf="productImagePath==null">
      <img class="avatar" src="assets/images/defaultproductimage.png" onclick="document.getElementById('fileToUpload').click()" style="cursor:pointer" />
    </div>
    <input type="file" name="file" #fileInput id="fileToUpload" (change)="onChangeFileInput($event)" style="display: none;">
    <div class="form-group col-md-8">
      <div class="form-group" >
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Ürün Adı</mat-label>
          <input matInput type="text" disableOptionCentering   required formControlName="productName" placeholder="Ürün adı giriniz">
          <mat-icon *ngIf="productAddForm.controls['productName'].valid && productAddForm.controls['productName'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-icon *ngIf="productAddForm.controls['productName'].invalid && productAddForm.controls['productName'].touched  " style="color: red;" matSuffix>sentiment_very_dissatisfied</mat-icon>
          <mat-hint style="color: red;" *ngIf="productAddForm.controls['productName'].invalid && productAddForm.controls['productName'].touched ">Ürün adı girmek zorunludur!(En az 2, en fazla 50 karakter)</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group" >
        <mat-form-field appearance="outline" style="width: 100%" > 
          <mat-label>Kategori</mat-label>
          <mat-select  id="categorySelect" 
           formControlName="categoryId" disableOptionCentering   required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{category.categoryName}}</mat-option>
          </mat-select>
          <mat-icon *ngIf="productAddForm.controls['categoryId'].valid && productAddForm.controls['categoryId'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-icon *ngIf="productAddForm.controls['categoryId'].invalid && productAddForm.controls['categoryId'].touched  " style="color: red;" matSuffix>sentiment_very_dissatisfied</mat-icon>
          <mat-hint style="color: red;" *ngIf="productAddForm.controls['categoryId'].invalid && productAddForm.controls['categoryId'].touched ">Ürünün kategorisi seçilmelidir.</mat-hint>                                     
        </mat-form-field> 
      </div>
    </div>
  </div>
  <div class="form-group">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Ürün Açıklaması</mat-label>
      <input matInput type="text" formControlName="productDescription" placeholder="Ürün açıklaması giriniz.">
      <mat-icon *ngIf="productAddForm.controls['productDescription'].valid && productAddForm.controls['productDescription'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Birim Fiyat</mat-label>
        <input matInput type="number" disableOptionCentering   required formControlName="unitPrice" placeholder="Birim fiyat giriniz.">
        <mat-icon *ngIf="productAddForm.controls['unitPrice'].valid && productAddForm.controls['unitPrice'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-icon *ngIf="productAddForm.controls['unitPrice'].invalid && productAddForm.controls['unitPrice'].touched  " style="color: red;" matSuffix>sentiment_very_dissatisfied</mat-icon>
        <mat-hint style="color: red;" *ngIf="productAddForm.controls['unitPrice'].invalid && productAddForm.controls['unitPrice'].touched ">Ürünün birim fiyat girilmelidir.</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-6">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Stok</mat-label>
        <input matInput type="number" disableOptionCentering   required formControlName="stock" placeholder="Stok adeti giriniz.">
        <mat-icon *ngIf="productAddForm.controls['stock'].valid && productAddForm.controls['stock'].touched " style="color: seagreen;" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-icon *ngIf="productAddForm.controls['stock'].invalid && productAddForm.controls['stock'].touched  " style="color: red;" matSuffix>sentiment_very_dissatisfied</mat-icon>
        <mat-hint style="color: red;" *ngIf="productAddForm.controls['stock'].invalid && productAddForm.controls['stock'].touched ">Ürünün stoğu girilmelidir.</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group col-md-2" style="visibility: hidden;display: none;">
      <mat-form-field appearance="outline" >
        <mat-label>Restaurant Id</mat-label>
        <input matInput readonly type="number" formControlName="restaurantId">
      </mat-form-field>
    </div>
  </div>
</form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Vazgeç</button>
  <button mat-stroked-button color="success" cdkFocusInitial (click)="productAdd()">Onayla</button>
</mat-dialog-actions>
