<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <button mat-raised-button color="primary" (click)="openProductAddDialog()">Ürün ekle</button>          
                    <h2 class="header-title pb-3 mt-0" style="text-align: center;"><b>ÜRÜNLERİMİZ</b></h2>                    
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th style="width: 10%;"></th>
                                    <th style="width: 10%;">Ürün</th>
                                    <th>Kategori</th>
                                    <th>Ürün Açıklaması</th>
                                    <th>Birim Fiyat</th>                           
                                    <th>Stok</th>
                                    <th></th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products | paginate : { id :'listing_pagination', itemsPerPage:20, currentPage : page, totalItems: totalRecords} ;trackBy: trackByFn ">
                                    <td style="width: 10%;" *ngIf="product.productImagePath!=null"><img [src]="getProductImagePath(product.productImagePath)" alt="" class="thumb-sm rounded-circle mr-2"></td>
                                    <td style="width: 10%;" *ngIf="product.productImagePath==null"><img src="/assets/images/defaultproductimage.png" alt="" class="thumb-sm rounded-circle mr-2"></td>
                                    <td style="width: 15%;">{{product.productName}}</td>
                                    <td style="width: 15%;">{{product.categoryName}}</td>
                                    <td style="width: 35%;">{{product.productDescription}}</td>
                                    <td style="width: 5%;">{{product.unitPrice}} ₺</td>
                                    <td style="width: 5%;">{{product.stock}}</td>
                                    <td>
                                        <div class="example-button-container">   
                                            <button mat-icon-button color="warn" (click)="openProductDeleteDialog(product)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                            <button mat-icon-button color="primary" (click)="openProductUpdateDialog(product)">
                                                <mat-icon>published_with_changes</mat-icon>                  
                                            </button>
                                          </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <pagination-controls  class="pagination-controls" id="listing_pagination" (pageChange)="onPageChange($event)"  nextLabel="İleri" previousLabel="Geri">  </pagination-controls>
    </div>
</div>

